// adapter all browser css propery
vendors = -webkit -moz -o -ms
prefix  = "-"
all-browser( prop, arguments, ppro = true )
  if ppro
    { prop }: arguments
  for vendor in vendors
     { vendor }-{ prop }: arguments

display-group( value, type )
  value + prefix + type

adapter-display( type = box )
  display: type
  for vendor in vendors
    display: display-group( vendor, type )

html
    adapter-display flex
    all-browser "justify-content", center

    padding 0px
    margin  0px
    width   100%
    height  100%

    font-family "Helvetica Neue", "Luxi Sans", "DejaVu Sans", Tahoma, "Hiragino Sans GB", "Microsoft Yahei", sans-serif

body
    padding 0px
    margin  0px
    background #fff

    min-width 768px

header
    adapter-display flex
    all-browser "justify-content", flex-start
    all-browser "align-items",     center

    padding 76px 20px 20px 20px

    h1
        margin 20px 0

    div
        adapter-display flex
        all-browser "flex-flow", row nowrap
        all-browser "align-items", flex-end


        width 100%
        border-bottom solid 1px #f1f1f1

        nav
          adapter-display flex
          all-browser "flex-flow", row nowrap

          margin 15px 0

          a
              margin 5px 3px

              opacity 0.3

              &:hover
                  opacity 1
                  all-browser "transition", opacity 1s ease

              &:nth-child(1) span
                  background: url( ../image/gallery-icon24-home.png ) no-repeat
              &:nth-child(2) span
                  background: url( ../image/gallery-icon24-github.png ) no-repeat
              &:nth-child(3) span
                  background: url( ../image/gallery-icon24-weibo.png ) no-repeat
              &:nth-child(4) span
                  background: url( ../image/gallery-icon24-twitter.png ) no-repeat
              &:nth-child(5) span
                  background: url( ../image/gallery-icon24-facebook.png ) no-repeat

          span
              display block
              width  24px
              height 24px



.gallery
    adapter-display flex
    all-browser "flex-flow", row wrap
    all-browser "justify-content", space-between

    min-height 500px

    div
      padding 20px

      div
          padding 0

          font-size 12px
          text-align center

      img
          padding 5px
          background #fff
          border solid 1px #bbb

footer
    adapter-display flex
    all-browser "justify-content", flex-start
    all-browser "align-items",     center

    padding 76px 20px 20px 20px

    div
        width 100%
        font-size 15px

        &:first-child
          border-top solid 1px #f1f1f1

        div
            font-size 11px

            a
              color #999
