// adapter all browser css propery
vendors = -webkit -moz -o -ms
prefix  = "-"
all-browser( prop, arguments, ppro = true )
  if ppro
    { prop }: arguments
  for vendor in vendors
     { vendor }-{ prop }: arguments

display-group( value, type )
  value + prefix + type

adapter-display( type = box )
  for vendor in vendors
    display: display-group( vendor, type )

division()
    margin: 0 0 53px 0

main-width = 960px

@font-face
    src: url( ../font/en.otf )
    font-family: en

@font-face
    src: url( ../font/zh-cn-normal.woff )
    font-family: zh-cn

@font-face
    src: url( ../font/zh-tw.ttf )
    font-family: zh-tw

@media all and (max-width: 1174px)
    .header div, .title
        zoom: 0.5
    .footer ul li
        all-browser "box-align", center, false
        text-align: center

html
    width  : 100%
    height : 100%

body
    adapter-display()
    all-browser "box-flex", 1, false
    all-browser "box-orient", vertical, false

    width   : 100%
    height  : 100%
    margin  : 0px
    padding : 0px

    font-family: en
    font-weight: bold

    background: url( ../image/bg.png ) repeat

    div
        adapter-display()
        all-browser "box-pack",  center, false
        all-browser "box-align", center, false

/*
hr
    width : 100%
    height: 1px

    border: 0px

    background-image: -webkit-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,.1), rgba(0,0,0,0))

    margin: 30px 0px;
*/

.top

    height: 50px

    nav
        adapter-display()
        all-browser "box-orient", horizontal
        all-browser "box-pack",   end, false

        width : main-width

        a[class$="flag"] span:hover
            background-position: 0 3px
            all-browser: "transition", background-position 0.3s linear

        a
            adapter-display()
            padding: 0px 5px 0px 0px

            span
                adapter-display( "inline-box" )

                width : 32px
                height: @width

            &:nth-child(1)
                span
                    background: url( ../image/zh-cn-flag.png ) no-repeat

            &:nth-child(2)
                span
                    background: url( ../image/zh-tw-flag.png ) no-repeat

            &:nth-child(3)
                span
                    background: url( ../image/en-flag.png ) no-repeat

.title
    h1
        division()
        font-size: 50px
    span
        display : block
        position: relative

        left  : 181px
        bottom: 64px

        width : 24px
        height: 24px

        background: url( ../image/chrome.png ) no-repeat

.download
    adapter-display()
    all-browser "box-align", end, false

    division()

    div
        all-browser "box-align", end, false

.btn-download
    adapter-display()
    all-browser : "box-align", center, false

    padding: 15px 15px 10px 15px

    color: #fff
    font-size: 33px

    text-decoration: none

    background-color: #7C4DFF

    all-browser : "border-radius", 6px
    all-browser : "box-shadow", 0 1px 5px rgba(0, 0, 0, 0.75)

    span
        display: block

        width : 48px
        height: @width

        background: url( ../image/webstore.png ) no-repeat

    nav
        adapter-display()
        all-browser "box-orient", vertical, false
        all-browser "box-align",  end,      false

        line-height: 0.5

        h3
            padding: 0px
            margin : 0px

            line-height: 48px

        div
            font-size  : 10px

    &:hover
        text-decoration: none
        background-position: 0 -15px

        all-browser: "transition", background-position 0.1s linear
        all-browser: "box-shadow", 0 1px 5px rgba(0, 0, 0, 0)

.btn-offline-download
    padding: 0px 2px

    text-decoration: none
    color: #000

    &:hover
        background-color  : rgba(0,0,0,.4)
        all-browser: "transition", background-color 1s ease
        all-browser: "border-radius", 3px

.smaller
    font-size: 10px

.header
    division()
    adapter-display( flex )
    all-browser "justify-content",  center, false


    background-color: #1DBA90

    div
        height: 660px
        width: 1174px
        background: url( ../image/introduce.jpg ) no-repeat

/*
.main
    division()

    div
        all-browser "box-orient", vertical, false

    img
        width : main-width
        height: 335px

        border: 0px

        division()

.content
    ul
        adapter-display()
        all-browser "box-orient", vertical, false
        width: main-width

        li
            adapter-display()
            all-browser "box-orient", horizontal, false
            all-browser "box-flex",   1,          false
            all-browser "box-align",  center,     false

            list-style: none

            width: 100%

            div
                width:  350px
                height: 175px

            span
                adapter-display()
                all-browser "box-flex",   1,          false
                all-browser "box-align",  center,     false

            &:nth-of-type(even)
                all-browser "box-pack", end, false

            &:nth-of-type(1)
                div
                    background: url( ../image/mutil-language.png ) no-repeat

            &:nth-of-type(2)
                div
                    background: url( ../image/infomation.png ) no-repeat
                span
                    all-browser "box-pack", end, false

            &:nth-of-type(3)
                div
                    background: url( ../image/download.png ) no-repeat
*/

.main
    adapter-display( flex )
    all-browser "flex-flow",       row wrap,     false
    all-browser "justify-content", space-around, false

    padding: 0 147px

    division()

    .feature
        adapter-display()
        all-browser "box-orient", vertical,   false
        all-browser "box-flex",   1,          false

        width: 191px

        padding: 0 50px 53px 50px

        div
            padding-bottom: 6px

        .icon
            adapter-display()

            width: 128px
            height: @width

        .desc
            font-size: 25px
            color: #B3B3B3

        .content
            color: #B3B3B3

        &:nth-child(1) .icon
            background: url( ../image/multi-language.png ) no-repeat

        &:nth-child(2) .icon
            background: url( ../image/time.png ) no-repeat

        &:nth-child(3) .icon
            background: url( ../image/upload.png ) no-repeat

        &:nth-child(4) .icon
            background: url( ../image/download.png ) no-repeat

        &:nth-child(5) .icon
            background: url( ../image/favorite.png ) no-repeat

        &:nth-child(6) .icon
            background: url( ../image/shortcuts.png ) no-repeat

.footer
    all-browser "box-orient", vertical, false

    background-color: #333
    color: #fff

    font-weight: normal

    width: 100%

    .copyright
        adapter-display( flex )
        all-browser "flex-flow",       row wrap,     false
        all-browser "justify-content", center,       false

        padding: 0px 0px 10px 0px

    a
        color: #fff
        text-decoration: none
        font-weight: bold

        &:hover
            color: #000
            background-color  : rgba(255,255,255,1)
            all-browser: "transition", background-color 1s ease
            all-browser: "border-radius", 3px

    p
        margin: 0px

    // first child
    ul
        adapter-display( flex )
        all-browser "flex-flow",       row wrap,     false
        all-browser "justify-content", center,       false

        list-style: none

        padding: 0

        li
            adapter-display()
            all-browser "box-flex",   1,        false
            all-browser "box-orient", vertical, false

            width: ( main-width / 2 )
            padding: 5px

            div
                all-browser "box-pack", start, false
                all-browser "box-flex", 1,     false

            // support
            &:nth-child(1)
                div
                    adapter-display()
                    all-browser "box-orient", vertical, false
                    all-browser "box-flex",   1,        false
                    all-browser "box-align",  start,    false

                    div:nth-of-type(2)
                        adapter-display()
                        all-browser "box-orient", horizontal, false
                        all-browser "box-flex",   1,          false

                    // share
                    nav
                        adapter-display()
                        all-browser "box-orient", horizontal, false

                        padding: 1px 0px

                        a
                            adapter-display()
                            padding: 0px 7px 0px 0px

                            background-color: rgba(0, 0, 0, 0)

                            span
                                display: block

                                width : 24px
                                height: @width

                                opacity: 0.2

                                &:hover
                                  opacity: 1
                                  all-browser: "transition", opacity 1s ease

                            .weibo-share-icon
                                background: url( ../image/weibo-share-icon.png ) no-repeat

                            .twitter-share-icon
                                background: url( ../image/twitter-share-icon.png ) no-repeat

                            .facebook-share-icon
                                background: url( ../image/facebook-share-icon.png ) no-repeat

                            .gplus-share-icon
                                background: url( ../image/gplus-share-icon.png ) no-repeat

            // author
            &:nth-child(2)

                .photo
                    display: block

                    width : 46px
                    height: @width

                    all-browser "border-radius", 50%

                    background: url( ../image/photo.jpg ) no-repeat

                div
                    div
                        adapter-display()
                        all-browser "box-orient", vertical, false
                        all-browser "box-align",  start,    false

                        padding: 0px 5px

                        nav
                            adapter-display()

                            padding: 1px 0px

                            a
                                adapter-display()
                                padding: 0px 7px 0px 0px

                                background-color: rgba( 0, 0, 0, 0 )

                            span[class$="-icon"]
                                adapter-display( "inline-box" )

                                width : 24px
                                height: @width

                                opacity: 0.2

                                &:hover
                                    all-browser "transition", opacity .3s ease
                                    opacity: 1

                            .weibo-icon
                                background: url( ../image/weibo-icon.png ) no-repeat

                            .douban-icon
                                background: url( ../image/douban-icon.png ) no-repeat

                            .gplus-icon
                                background: url( ../image/gplus-icon.png ) no-repeat

                            .linkin-icon
                                background: url( ../image/linkin-icon.png ) no-repeat

                            span[class^="weibo"]:hover
                                background: url( ../image/weibo-hover-icon.png ) no-repeat

                            span[class^="douban"]:hover
                                background: url( ../image/douban-hover-icon.png ) no-repeat

                            span[class^="gplus"]:hover
                                background: url( ../image/gplus-hover-icon.png ) no-repeat

                            span[class^="linkin"]:hover
                                background: url( ../image/linkin-hover-icon.png ) no-repeat