body {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: transparent;
	background-size: cover;
	background-position: center center;
	background-attachment: fixed;
}

#time {
	right: 10px;
	bottom:10px;
}