@font-face {
    src: url("../fonts/en.otf") format( "opentype" );
    font-family: "en";
}

@font-face {
    src: url("../fonts/zh_CN.svg") format( "svg" );
    font-family: "zh_CN";
}

@font-face {
    src: url("../fonts/zh_TW.otf") format( "opentype" );
    font-family: "zh_TW";
}

html {
	height: 100%;
    overflow: hidden;
}

body {
    display: -webkit-box;

    margin: 0px;
    padding: 0px;
    height: 100%;

    background-color: transparent;
    background-size: cover;
    background-position: center center;
    background-attachment: fixed;

    font-family: "zh_CN", "en", "zh_TW";
    font-weight: bold;

    text-transform: uppercase;
    letter-spacing: 0.2px;
}

.content {
	-webkit-box-flex: 1;
}

.sidebar {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-box-flex: 1;
}

.setting {
    display: -webkit-box;
    -webkit-box-orient: vertical;

	width: 0px;

    background: #fff;
    color: #555;

    opacity: 0;

    box-shadow: -5px 0 4px rgba(0,0,0,.2);
    box-shadow: -5px 0 4px rgba(0,0,0,.2);
}

.setting div {
    padding: 0px 8px;
}

.setting div[class$=state] {
    padding: 26px 8px 0px 8px;
}

/*
* control
*/
.controlbar {
    display: -webkit-box;
    -webkit-box-pack: end;
    -webkit-box-align: end;
    -webkit-box-orient: vertical;

    list-style: none;
    font-size: 15px;
}

.controlbar a {
    margin: 10px;
    padding: 5px;
    -webkit-border-radius:3px;
    -webkit-transition: background .3s ease;
    text-decoration: none;
    opacity: 0.3;
}

.controlbar a:hover {
    background: rgba(0,0,0,.4);
    opacity: 1;
}

.chromelink, .controlink {
    display: block;
}

.icon {
    width: 24px;
    height: 24px;
    display: block;
    background-repeat: no-repeat;
    background-position:center;
}

.bookmarksicon {
    background-image: url("../images/bookmarks.png");
}

.historyicon {
    background-image: url("../images/history.png");
}

.appsicon {
    background-image: url("../images/apps.png");
}

.infoicon {
    background-image: url("../images/info.png");
}

.downloadicon {
    background-image: url("../images/download.png");
}

.settingicon {
    background-image: url("../images/setting.png");
}

/*
* clock
*/
.clock {
    display: -webkit-box;
    -webkit-box-flex: 1;
    -webkit-box-pack: end;
    -webkit-box-align: end;

    padding: 0px 15px;
    color: #fff;

    font-family: "en";
}

#time {
    font-size: 60px;
    font-weight: 200;

    cursor: pointer;
}

/*
 * setting
*/
.lineradio {
    display: -webkit-box;
    -webkit-box-align: center;

    margin: 5px 0px;

    font-size: 13px;
    color: #fff;
    background: #555;

    border: none;
    -webkit-border-radius: 3px;

}

.lineradio:hover {
    background-color: #8b8986;
    -webkit-transition: background-color 1s ease;
}

.lineradio span {
    width: 14px;
    height: 15px;
    display: block;
    background-repeat: no-repeat;
    background-position:center;
}

.lineradio input[type=radio] {
    display: none;
}

.lineradio label {
    display: -webkit-box;
    -webkit-box-flex: 1;

    cursor: pointer;
    padding: 5px;
}

.lineradio .checked {
    background-image: url("../images/checked.png");
}

.lineradio .unchecked {
    background-image: url("../images/unchecked.png");
}

.lrselected {
    background: #222;
}

/*
* contact
*/
.contact {
    display: -webkit-box;
    -webkit-box-flex: 1;
    -webkit-box-align: end;
    -webkit-box-sizing:border-box;
}

.contact span {
    padding: 0px 1px;
    opacity: 0.8;
}

.contact span:hover {
    opacity: 1;
    -webkit-transition: opacity .3s ease;
}

.weiboicon {
    background-image: url("../images/weibo.png");
}

.emailicon {
    background-image: url("../images/email.png");
}

/*
* footer
*/
.footer {
    display: -webkit-box;
    -webkit-box-align: end;

    font-weight: normal;
    letter-spacing: 0px;

    font-family: "en";
}

.footer p {
    width: 100%;
    border-top: 1px solid #555;
}

.footer p a {
    color: #555;
    text-decoration: none;
}

.footer p a:hover {
    background-color: rgba(0,0,0,.4);
    -webkit-transition: background-color 1s ease;
    -webkit-border-radius:3px;
}

/*
* tooltip
*/
.tooltip  {
    color: #fff;
    background: rgba(0,0,0,.4);
    border-radius: 3px;

    padding: 2px 5px;

    -webkit-transform: scale(0);
    opacity: 0;

    cursor: default;

}

.tooltip:hover {
    display: none;
}

.tooltip-left {
    display: -webkit-box;
    -webkit-box-align: center;
    -webkit-box-pack: start;
}

.tooltip-top {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-box-align: center;
    -webkit-box-pack: start;
}

.tooltip-left:hover .tooltip,
.tooltip-top:hover  .tooltip {
    -webkit-transform: scale(1);
    -webkit-transition: opacity 2s ease;
    opacity: 0.8;
}