html {
  font-family: -apple-system, PingFang SC, Verdana, Helvetica Neue, Microsoft Yahei, Hiragino Sans GB, Microsoft Sans Serif, WenQuanYi Micro Hei, sans-serif;
  color: #333;
  background: #fafafa;
  text-rendering: optimizelegibility;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  width: 100%;
  height: 100%;
}
body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  font-size: 12px;
  background: url("../image/bg.png") repeat;
}
body header div,
body div.features,
body div.middle,
body div.copyright,
body .features .feature,
body .footer ul li div {
/*
  display: type
  for vendor in vendors
    display: display-group( vendor, type )
  */
  display: -webkit-flex;
  display: flex;
  -webkit-justify-content: center;
  -moz-justify-content: center;
  -o-justify-content: center;
  -ms-justify-content: center;
  justify-content: center;
  -webkit-align-items: center;
  -moz-align-items: center;
  -o-align-items: center;
  -ms-align-items: center;
  align-items: center;
}
header {
  background: #1dba90;
}
.top {
/*
  display: type
  for vendor in vendors
    display: display-group( vendor, type )
  */
  display: -webkit-flex;
  display: flex;
  -webkit-justify-content : flex-end;
  -moz-justify-content : flex-end;
  -o-justify-content : flex-end;
  -ms-justify-content : flex-end;
  justify-content : flex-end;
  height: 100px;
  padding: 0 10px;
  font: 300 12px/1.8 -apple-system, PingFang SC, Verdana, Helvetica Neue, Microsoft Yahei, Hiragino Sans GB, Microsoft Sans Serif, WenQuanYi Micro Hei, sans-serif;
}
.top ul {
/*
  display: type
  for vendor in vendors
    display: display-group( vendor, type )
  */
  display: -webkit-flex;
  display: flex;
  -webkit-flex-flow: row nowrap;
  -moz-flex-flow: row nowrap;
  -o-flex-flow: row nowrap;
  -ms-flex-flow: row nowrap;
  flex-flow: row nowrap;
  -webkit-justify-content : flex-end;
  -moz-justify-content : flex-end;
  -o-justify-content : flex-end;
  -ms-justify-content : flex-end;
  justify-content : flex-end;
  list-style: none;
}
.top ul li {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 20px;
  padding-bottom: 5px;
  transition: border-color 0.5s;
  -webkit-border-bottom: 2px solid transparent;
  -moz-border-bottom: 2px solid transparent;
  -o-border-bottom: 2px solid transparent;
  -ms-border-bottom: 2px solid transparent;
  border-bottom: 2px solid transparent;
}
.top ul li:hover {
  color: #fff;
  -webkit-border-bottom: 2px solid #fff;
  -moz-border-bottom: 2px solid #fff;
  -o-border-bottom: 2px solid #fff;
  -ms-border-bottom: 2px solid #fff;
  border-bottom: 2px solid #fff;
}
.top ul li img {
  padding-right: 5px;
  height: 15px;
  cursor: inherit;
}
.top ul li a {
  color: #fff;
  font-weight: 500;
  text-decoration: none;
  text-transform: uppercase;
}
.describe {
  -webkit-flex-flow: row wrap;
  -moz-flex-flow: row wrap;
  -o-flex-flow: row wrap;
  -ms-flex-flow: row wrap;
  flex-flow: row wrap;
  -webkit-justify-content: center;
  -moz-justify-content: center;
  -o-justify-content: center;
  -ms-justify-content: center;
  justify-content: center;
  color: #fff;
  font-weight: bold;
  padding: 0 10px;
}
.describe .banner {
  width: 850px;
  height: 655px;
}
.describe .introduce {
  -webkit-flex-flow: column nowrap;
  -moz-flex-flow: column nowrap;
  -o-flex-flow: column nowrap;
  -ms-flex-flow: column nowrap;
  flex-flow: column nowrap;
  -webkit-justify-content: center;
  -moz-justify-content: center;
  -o-justify-content: center;
  -ms-justify-content: center;
  justify-content: center;
}
.describe .introduce .title {
  -webkit-flex-flow: column nowrap;
  -moz-flex-flow: column nowrap;
  -o-flex-flow: column nowrap;
  -ms-flex-flow: column nowrap;
  flex-flow: column nowrap;
  margin-bottom: 15px;
  font-weight: 400;
}
.describe .introduce .title div:nth-child(1) {
  font-size: 45px;
  font-weight: 300;
}
.describe .introduce .title div:nth-child(2) {
  font-size: 28px;
  font-weight: 100;
}
.describe .introduce .download {
  -webkit-justify-content: center;
  -moz-justify-content: center;
  -o-justify-content: center;
  -ms-justify-content: center;
  justify-content: center;
  -webkit-flex-flow: column nowrap;
  -moz-flex-flow: column nowrap;
  -o-flex-flow: column nowrap;
  -ms-flex-flow: column nowrap;
  flex-flow: column nowrap;
}
.describe .introduce .btn-download {
/*
  display: type
  for vendor in vendors
    display: display-group( vendor, type )
  */
  display: -webkit-flex;
  display: flex;
  -webkit-justify-content: center;
  -moz-justify-content: center;
  -o-justify-content: center;
  -ms-justify-content: center;
  justify-content: center;
  padding: 15px 15px 10px 15px;
  margin-bottom: 15px;
  color: #fff;
  font-size: 33px;
  text-decoration: none;
  font-weight: 400;
/*text-shadow: #000 0 1px 2px;*/
  background-color: #7c4dff;
  border: 1px solid transparent;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  -o-border-radius: 6px;
  -ms-border-radius: 6px;
  border-radius: 6px;
  box-shadow: 0 2rem 1.5rem -1.5rem rgba(33,37,41,0.15), 0 0 1.5rem 0.5rem rgba(33,37,41,0.05) !important;
  transition: all 0.3s linear;
}
.describe .introduce .btn-download span {
  display: block;
  width: 48px;
  height: 48px;
  background: url("../image/webstore.png") no-repeat;
}
.describe .introduce .btn-download nav {
/*
  display: type
  for vendor in vendors
    display: display-group( vendor, type )
  */
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: column;
  -moz-flex-direction: column;
  -o-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-align-items: flex-end;
  -moz-align-items: flex-end;
  -o-align-items: flex-end;
  -ms-align-items: flex-end;
  align-items: flex-end;
  line-height: 0.5;
}
.describe .introduce .btn-download nav h3 {
  padding: 0;
  margin: 0;
  line-height: 48px;
  font-weight: 200;
}
.describe .introduce .btn-download nav div {
  padding-top: 5px;
  font-size: 10px;
}
.describe .introduce .btn-download:hover {
  background-color: #fafafa;
  border: 1px solid #7c4dff;
  color: #7c4dff;
}
.describe .introduce .btn-offline-download {
  padding: 0 2px;
  text-decoration: none;
}
.describe .introduce .btn-offline-download:hover {
  -webkit-transition: background-color 1s ease;
  -moz-transition: background-color 1s ease;
  -o-transition: background-color 1s ease;
  -ms-transition: background-color 1s ease;
  transition: background-color 1s ease;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -o-border-radius: 3px;
  -ms-border-radius: 3px;
  border-radius: 3px;
  background: #000;
  background: rgba(0,0,0,0.4);
  color: #fff;
}
.describe .introduce .smaller {
  font-size: 13px;
  color: #fff;
}
.main {
  display: flex;
  justify-content: center;
  align-items: center;
}
.features {
  -webkit-flex-flow: row wrap;
  -moz-flex-flow: row wrap;
  -o-flex-flow: row wrap;
  -ms-flex-flow: row wrap;
  flex-flow: row wrap;
  -webkit-justify-content: center;
  -moz-justify-content: center;
  -o-justify-content: center;
  -ms-justify-content: center;
  justify-content: center;
  padding: 0 10%;
  margin: 25px 0;
  max-width: 1400px;
  width: 100%;
  font: 300 12px/1.8 -apple-system, PingFang SC, Verdana, Helvetica Neue, Microsoft Yahei, Hiragino Sans GB, Microsoft Sans Serif, WenQuanYi Micro Hei, sans-serif;
}
.features .feature {
  -webkit-flex-flow: column nowrap;
  -moz-flex-flow: column nowrap;
  -o-flex-flow: column nowrap;
  -ms-flex-flow: column nowrap;
  flex-flow: column nowrap;
  min-width: 191px;
  padding: 25px;
  margin: 30px;
  background-color: #eff0f2;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -o-border-radius: 10px;
  -ms-border-radius: 10px;
  border-radius: 10px;
  box-shadow: 0 2px 5px rgba(0,0,0,0.05);
  transition: all 0.3s linear;
}
.features .feature:hover {
  margin-top: 10px;
  box-shadow: 0 5px 30px rgba(0,0,0,0.2);
}
.features .feature div {
  padding-bottom: 6px;
}
.features .feature .hide {
  opacity: 0.1;
  transform: scale(0.85);
}
.features .feature .icon {
  width: 128px;
  height: 128px;
  transition: all 0.2s;
}
.features .feature .desc {
  font-size: 20px;
  color: #b3b3b3;
  transition: all 0.2s;
}
.features .feature .learnmore {
  color: #fff;
  background-color: #1dba90;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -o-border-radius: 3px;
  -ms-border-radius: 3px;
  border-radius: 3px;
  padding: 8px 20px;
  font-size: 14px;
  font-weight: bold;
  text-decoration: none;
  line-height: 19px;
  transition: all 0.2s;
  cursor: pointer;
}
.features .feature[data-type=origins] .icon {
  background: url("../image/multi-language.png") no-repeat;
}
.features .feature[data-type=positionmode] .icon {
  background: url("../image/time.png") no-repeat;
}
.features .feature[data-type=earth] .icon {
  background: url("../image/earth.png") no-repeat;
}
.features .feature[data-type=unsplash] .icon {
  background: url("../image/unsplash.png") no-repeat;
}
.features .feature[data-type=bgmanage] .icon {
  background: url("../image/subscribe.png") no-repeat;
}
.features .feature[data-type=bookmarks] .icon {
  background: url("../image/bookmarks.png") no-repeat;
}
.features .feature[data-type=topsites] .icon {
  background: url("../image/topsites.png") no-repeat;
}
.features .feature[data-type=controlbar] .icon {
  background: url("../image/setting.png") no-repeat;
}
.features .feature[data-type=shortcuts] .icon {
  background: url("../image/shortcuts.png") no-repeat;
}
.features .feature[data-type=noise] .icon {
  background: url("../image/noise.png") no-repeat;
}
.features .feature[data-type=zenmode] .icon {
  background: url("../image/zenmode.png") no-repeat;
}
.features .feature[data-type=options] .icon {
  background: url("../image/options.png") no-repeat;
}
.features .feature .more {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 10px;
  color: #000;
  font-size: 13px;
  text-align: center;
  transition: all 0.2s;
  opacity: 0;
  transform: scale(0.95);
}
.features .feature .more.active {
  opacity: 1;
  transform: scale(1);
}
.features .feature .more ul {
  margin-top: 0;
  text-align: left;
}
.features .feature .more img {
  margin-bottom: 6px;
  max-width: 200px;
  border-radius: 10px;
  box-shadow: 0 2rem 1.5rem -1.5rem rgba(33,37,41,0.15), 0 0 1.5rem 0.5rem rgba(33,37,41,0.05);
}
.features .feature .more kbd {
  display: inline-block;
  padding: 2px 5px;
  background-color: #fafafa;
  font-size: 12px;
  line-height: 12px;
  vertical-align: middle;
  border: 1px solid #ccc;
  border-radius: 3px;
}
.features .feature .more .title {
  font-size: 15px;
  font-weight: 400;
}
.features .feature .more .details {
  width: 100%;
}
.features .feature .more .details a {
  color: inherit;
}
.middle {
  margin-bottom: 25px;
  padding: 0 147px;
  -webkit-flex-flow: row wrap;
  -moz-flex-flow: row wrap;
  -o-flex-flow: row wrap;
  -ms-flex-flow: row wrap;
  flex-flow: row wrap;
}
.middle a {
/*
  display: type
  for vendor in vendors
    display: display-group( vendor, type )
  */
  display: -webkit-flex;
  display: flex;
  -webkit-flex-flow: row nowrap;
  -moz-flex-flow: row nowrap;
  -o-flex-flow: row nowrap;
  -ms-flex-flow: row nowrap;
  flex-flow: row nowrap;
  -webkit-justify-content: center;
  -moz-justify-content: center;
  -o-justify-content: center;
  -ms-justify-content: center;
  justify-content: center;
  -webkit-align-items: center;
  -moz-align-items: center;
  -o-align-items: center;
  -ms-align-items: center;
  align-items: center;
  width: 210px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -o-border-radius: 5px;
  -ms-border-radius: 5px;
  border-radius: 5px;
  padding: 8px 30px;
  margin: 0 60px 30px 60px;
  color: #fff;
  background-color: #7c4dff;
  font-size: 21px;
  text-decoration: none;
  font-weight: 200;
  line-height: 1.5;
  border: 1px solid transparent;
  box-shadow: 0 2rem 1.5rem -1.5rem rgba(33,37,41,0.15), 0 0 1.5rem 0.5rem rgba(33,37,41,0.05);
  transition: all 0.2s ease-in-out;
}
.middle a:hover {
  background-color: transparent;
  border: 1px solid #7c4dff;
  color: #7c4dff;
}
.middle a div {
  padding-left: 5px;
}
.middle a span {
  width: 32px;
  height: 32px;
}
.footer {
  -webkit-flex-flow: column nowrap;
  -moz-flex-flow: column nowrap;
  -o-flex-flow: column nowrap;
  -ms-flex-flow: column nowrap;
  flex-flow: column nowrap;
  background-color: #333;
  color: #fff;
  font: 300 12px/1.8 -apple-system, PingFang SC, Verdana, Helvetica Neue, Microsoft Yahei, Hiragino Sans GB, Microsoft Sans Serif, WenQuanYi Micro Hei, sans-serif;
  font-weight: normal;
  width: 100%;
}
.footer .copyright {
  -webkit-flex-flow: row wrap;
  -moz-flex-flow: row wrap;
  -o-flex-flow: row wrap;
  -ms-flex-flow: row wrap;
  flex-flow: row wrap;
  -webkit-justify-content: center;
  -moz-justify-content: center;
  -o-justify-content: center;
  -ms-justify-content: center;
  justify-content: center;
  padding: 0 0 10px 0;
}
.footer a {
  color: #fff;
  text-decoration: none;
  font-weight: bold;
}
.footer a:hover {
  color: #000;
  background-color: #fff;
  -webkit-transition: background-color 1s ease;
  -moz-transition: background-color 1s ease;
  -o-transition: background-color 1s ease;
  -ms-transition: background-color 1s ease;
  transition: background-color 1s ease;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -o-border-radius: 3px;
  -ms-border-radius: 3px;
  border-radius: 3px;
}
.footer p {
  margin: 0;
}
.footer ul {
/*
  display: type
  for vendor in vendors
    display: display-group( vendor, type )
  */
  display: -webkit-flex;
  display: flex;
  -webkit-flex-flow: row wrap;
  -moz-flex-flow: row wrap;
  -o-flex-flow: row wrap;
  -ms-flex-flow: row wrap;
  flex-flow: row wrap;
  -webkit-justify-content: center;
  -moz-justify-content: center;
  -o-justify-content: center;
  -ms-justify-content: center;
  justify-content: center;
  list-style: none;
  padding: 0;
}
.footer ul li {
/*
  display: type
  for vendor in vendors
    display: display-group( vendor, type )
  */
  display: -webkit-flex;
  display: flex;
  -webkit-flex-flow: column wrap;
  -moz-flex-flow: column wrap;
  -o-flex-flow: column wrap;
  -ms-flex-flow: column wrap;
  flex-flow: column wrap;
  -webkit-align-items: center;
  -moz-align-items: center;
  -o-align-items: center;
  -ms-align-items: center;
  align-items: center;
  width: 480px;
  padding: 5px;
}
.footer ul li div {
  -webkit-flex-flow: column nowrap;
  -moz-flex-flow: column nowrap;
  -o-flex-flow: column nowrap;
  -ms-flex-flow: column nowrap;
  flex-flow: column nowrap;
  -webkit-align-items: flex-start;
  -moz-align-items: flex-start;
  -o-align-items: flex-start;
  -ms-align-items: flex-start;
  align-items: flex-start;
}
.footer ul li:nth-child(1) div {
  -webkit-align-items: flex-start;
  -moz-align-items: flex-start;
  -o-align-items: flex-start;
  -ms-align-items: flex-start;
  align-items: flex-start;
}
.footer ul li:nth-child(1) div nav {
/*
  display: type
  for vendor in vendors
    display: display-group( vendor, type )
  */
  display: -webkit-flex;
  display: flex;
  -webkit-flex-flow: row nowrap;
  -moz-flex-flow: row nowrap;
  -o-flex-flow: row nowrap;
  -ms-flex-flow: row nowrap;
  flex-flow: row nowrap;
  -webkit-justify-content: flex-start;
  -moz-justify-content: flex-start;
  -o-justify-content: flex-start;
  -ms-justify-content: flex-start;
  justify-content: flex-start;
  margin-top: 4px;
}
.footer ul li:nth-child(1) div nav a {
/*
  display: type
  for vendor in vendors
    display: display-group( vendor, type )
  */
  display: -webkit-flex;
  display: flex;
  padding: 0 7px 0 0;
  background: #000;
  background: rgba(0,0,0,0);
}
.footer ul li:nth-child(1) div nav a span {
  display: block;
  width: 24px;
  height: 24px;
  opacity: 0.2;
}
.footer ul li:nth-child(1) div nav a span:hover {
  opacity: 1;
  -webkit-transition: opacity 1s ease;
  -moz-transition: opacity 1s ease;
  -o-transition: opacity 1s ease;
  -ms-transition: opacity 1s ease;
  transition: opacity 1s ease;
}
.footer ul li:nth-child(1) div nav a .weibo-share-icon {
  background: url("../image/weibo-share-icon.png") no-repeat;
}
.footer ul li:nth-child(1) div nav a .twitter-share-icon {
  background: url("../image/twitter-share-icon.png") no-repeat;
}
.footer ul li:nth-child(1) div nav a .facebook-share-icon {
  background: url("../image/facebook-share-icon.png") no-repeat;
}
.footer ul li:nth-child(1) div nav a .gplus-share-icon {
  background: url("../image/gplus-share-icon.png") no-repeat;
}
.footer ul li:nth-child(2) div {
  -webkit-align-items: flex-start;
  -moz-align-items: flex-start;
  -o-align-items: flex-start;
  -ms-align-items: flex-start;
  align-items: flex-start;
}
.footer ul li:nth-child(2) div .photo {
  display: block;
  margin-right: 10px;
  width: 46px;
  height: 46px;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -o-border-radius: 50%;
  -ms-border-radius: 50%;
  border-radius: 50%;
  background: url("../image/photo.jpg") no-repeat;
}
.footer ul li:nth-child(2) div div {
  -webkit-flex-flow: row nowrap;
  -moz-flex-flow: row nowrap;
  -o-flex-flow: row nowrap;
  -ms-flex-flow: row nowrap;
  flex-flow: row nowrap;
  -webkit-justify-content: flex-start;
  -moz-justify-content: flex-start;
  -o-justify-content: flex-start;
  -ms-justify-content: flex-start;
  justify-content: flex-start;
  -webkit-align-items: center;
  -moz-align-items: center;
  -o-align-items: center;
  -ms-align-items: center;
  align-items: center;
}
.footer ul li:nth-child(2) div div div {
  -webkit-flex-flow: column nowrap;
  -moz-flex-flow: column nowrap;
  -o-flex-flow: column nowrap;
  -ms-flex-flow: column nowrap;
  flex-flow: column nowrap;
  -webkit-align-items: flex-start;
  -moz-align-items: flex-start;
  -o-align-items: flex-start;
  -ms-align-items: flex-start;
  align-items: flex-start;
  padding: 0 5px;
}
.footer ul li:nth-child(2) div div div nav {
/*
  display: type
  for vendor in vendors
    display: display-group( vendor, type )
  */
  display: -webkit-flex;
  display: flex;
  margin-top: 4px;
}
.footer ul li:nth-child(2) div div div nav a {
/*
  display: type
  for vendor in vendors
    display: display-group( vendor, type )
  */
  display: -webkit-flex;
  display: flex;
  -webkit-flex-flow: row;
  -moz-flex-flow: row;
  -o-flex-flow: row;
  -ms-flex-flow: row;
  flex-flow: row;
  padding: 0 7px 0 0;
  background: #000;
  background: rgba(0,0,0,0);
}
.footer ul li:nth-child(2) div div div nav span[class$="-icon"] {
/*adapter-display( inline-box )*/
  width: 24px;
  height: 24px;
  opacity: 0.2;
}
.footer ul li:nth-child(2) div div div nav span[class$="-icon"]:hover {
  -webkit-transition: opacity 0.3s ease;
  -moz-transition: opacity 0.3s ease;
  -o-transition: opacity 0.3s ease;
  -ms-transition: opacity 0.3s ease;
  transition: opacity 0.3s ease;
  opacity: 1;
}
.footer ul li:nth-child(2) div div div nav .weibo-icon {
  background: url("../image/weibo-icon.png") no-repeat;
}
.footer ul li:nth-child(2) div div div nav .douban-icon {
  background: url("../image/douban-icon.png") no-repeat;
}
.footer ul li:nth-child(2) div div div nav .gplus-icon {
  background: url("../image/gplus-icon.png") no-repeat;
}
.footer ul li:nth-child(2) div div div nav .linkin-icon {
  background: url("../image/linkin-icon.png") no-repeat;
}
.footer ul li:nth-child(2) div div div nav span[class^="weibo"]:hover {
  background: url("../image/weibo-hover-icon.png") no-repeat;
}
.footer ul li:nth-child(2) div div div nav span[class^="douban"]:hover {
  background: url("../image/douban-hover-icon.png") no-repeat;
}
.footer ul li:nth-child(2) div div div nav span[class^="gplus"]:hover {
  background: url("../image/gplus-hover-icon.png") no-repeat;
}
.footer ul li:nth-child(2) div div div nav span[class^="linkin"]:hover {
  background: url("../image/linkin-hover-icon.png") no-repeat;
}
/**
 * 4K
 */
@media only screen and (max-device-width: 2560px) {
  .describe .introduce .title div:nth-child(1) {
    font-size: 50px;
  }
  .describe .introduce .title div:nth-child(2) {
    font-size: 35px;
  }
}
/**
 * iPad pro 12 and below
 */
@media only screen and (max-device-width: 1024px) {
  .top {
    justify-content: center;
  }
  .features {
    padding: 0 5%;
  }
}
/**
 * iPad mini
 */
@media only screen and (max-device-width: 768px) {
  .features {
    padding: 0 20px;
  }
}
/**
* iPhone XS Max and below
*/
@media only screen and (max-device-width: 414px) {
  .features {
    padding: 0 20px;
  }
}
/**
* iPhone SE and below
*/
@media only screen and (max-device-width: 320px) {
  .features {
    padding: 0 20px;
  }
}
