vendors = webkit moz o ms
all-browser( prop, arguments )
  { prop }: arguments
  for vendor in vendors
     -{ vendor }-{ prop }: arguments

@font-face
    src: url( ../font/en.otf ) format( opentype )
    font-family: en

html
    width  : 100%
    height : 100%

body
    display: -webkit-box
    -webkit-box-flex: 1
    -webkit-box-orient: vertical

    height  : 100%
    margin  : 0px
    padding : 0px

    font-family: en
    font-weight: bold

    div
        display : -webkit-box
        -webkit-box-pack : center
        -webkit-box-align: center

hr
    width : 100%
    height: 1px

    border: 0px

    background-image: -webkit-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,.1), rgba(0,0,0,0))

.top
    height: 50px

.title
    h1
        font-size: 50px
    span
        display : block
        position: relative

        left  : 181px
        bottom: 64px

        width : 24px
        height: 24px

        background: url( /assets/image/chrome.png ) no-repeat

.download
    display: -webkit-box
    -webkit-box-align: end

.btn-download
    display: -webkit-box

    padding: 15px

    color: #fff
    font-size: 43px

    text-shadow    : #136491 0px 1px 2px
    text-decoration: none

    background: linear-gradient(to bottom,#2FA6E4,#2292CC) #2292CC repeat-x

    border-color: #066397
    all-browser : "box-shadow", inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
    all-browser : "border-radius", 6px

    span
        display: block

        width : 48px
        height: 48px

        background: url( /assets/image/webstore.png ) no-repeat

    &:hover
        text-decoration: none
        background-position: 0 -15px

        all-browser: "transition", background-position 0.1s linear

.btn-offline-download
    padding: 0px 2px

    text-decoration: none
    color: #000

    &:hover
        background-color  : rgba(0,0,0,.4)
        all-browser: "transition", background-color 1s ease
        all-browser: "border-radius", 3px

.smaller
    font-size: 10px

.main
    div
        -webkit-box-orient: vertical

    img
        width : 960px
        height: 335px

        border: 0px

.content
    width: 100%
    -webkit-box-align: start

    ul
        width: 100%

        li
            display: -webkit-box
            -webkit-box-orient: horizontal
            -webkit-box-flex: 1

            list-style: none

            div
                width:  410px
                height: 270px

                &:nth-child(1)
                    background: url( /assets/image/mutil-language.jpg ) no-repeat


