// adapter all browser css propery
vendors = -webkit -moz -o -ms
prefix  = "-"
all-browser( prop, arguments, ppro = true )
  for vendor in vendors
     { vendor }-{ prop }: arguments
  if ppro
    { prop }: arguments

display-group( value, type )
  value + prefix + type

adapter-display( type = box )
  /*
  display: type
  for vendor in vendors
    display: display-group( vendor, type )
  */
  display: -webkit + prefix + type
  display: type

division()
    margin: 0 0 53px 0

html
    color: #333
    background: #fafafa

    text-rendering: optimizelegibility
    -webkit-text-size-adjust: 100%
    -ms-text-size-adjust: 100%
    -webkit-font-smoothing: antialiased

    width  : 100%
    height : 100%

body
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Helvetica,"Apple Color Emoji",Arial,sans-serif,"Segoe UI Emoji","Segoe UI Symbol","Segoe UI Emoji","Segoe UI Symbol",Symbola,EmojiSymbols
    width   : 100%
    height  : 100%
    margin  : 0
    padding : 0

    font-size: 12px

    background: url( ../image/bg.png ) repeat

    header div,
    div.main,
    div.middle,
    div.copyright,
    .main .feature,
    .footer ul li div
        adapter-display( flex )
        all-browser "justify-content",  center
        all-browser "align-items",      center

header
    background: #1DBA90

.top
    adapter-display( flex )
    all-browser "justify-content ", flex-end

    height: 100px
    padding: 0 10px

    font: 300 12px/1.8 -apple-system, PingFang SC, Verdana, Helvetica Neue, Microsoft Yahei, Hiragino Sans GB, Microsoft Sans Serif, WenQuanYi Micro Hei, sans-serif

    ul
        adapter-display( flex )
        all-browser "flex-flow",        row nowrap
        all-browser "justify-content ", flex-end
        list-style: none

        li
            display: flex;
            justify-content: center;
            align-items: center;

            margin: 0 10px
            padding-bottom: 5px

            transition: border-color .5s
            all-browser "border-bottom", 2px solid transparent

            &:hover
                color: rgb(255, 255, 255)
                all-browser "border-bottom", 2px solid #fff

            &:nth-child(4) a
            &:nth-child(5) a
            &:nth-child(6) a
                min-width: 50px;

            img
                padding-right: 5px;
                height: 15px;
                cursor: inherit;

            a
                color: #fff
                font-weight: 500
                text-decoration: none
                text-transform: uppercase

.describe
    all-browser "flex-flow",       row wrap
    all-browser "justify-content", center

    color: #fff

    font-weight: bold

    padding: 0 10px

    .introduce
        all-browser "flex-flow",       column nowrap
        all-browser "justify-content", center

        .title
            all-browser "flex-flow", column nowrap

            margin-bottom: 15px
            font-weight: 400

            div
                &:nth-child(1)
                    font-size: 50px
                &:nth-child(2)
                    font-size: 40px

        .download
            all-browser "justify-content", center
            all-browser "flex-flow",       column nowrap

        .btn-download
            adapter-display( flex )
            all-browser : "justify-content", center

            padding: 15px 15px 10px 15px
            margin-bottom: 15px

            color: #fff
            font-size: 33px

            text-decoration: none
            /*text-shadow: #000 0 1px 2px;*/

            background-color: #7C4DFF
            border 1px solid transparent
    
            all-browser : "border-radius", 6px
            box-shadow: 0 2rem 1.5rem -1.5rem rgba(33,37,41,.15),0 0 1.5rem .5rem rgba(33,37,41,.05)!important;
            transition: all 0.3s linear;

            span
                display: block

                width : 48px
                height: @width

                background: url( ../image/webstore.png ) no-repeat

            nav
                adapter-display( flex )
                all-browser "flex-direction", column
                all-browser "align-items",    flex-end

                line-height: 0.5

                h3
                    padding: 0
                    margin : 0

                    line-height: 48px

                div
                    padding-top: 5px
                    font-size  : 10px

            &:hover
                background-color #fafafa
                border 1px solid #7C4DFF
                color #7C4DFF

        .btn-offline-download
            padding: 0 2px

            text-decoration: none

            &:hover
                all-browser "transition", background-color 1s ease
                all-browser "border-radius", 3px

                background: #000
                background: rgba(0,0,0,.4)
                color: #fff

        .smaller
            font-size: 13px
            color: #fff

    .banner
        height: 656px
        width: 853px
        background: url( ../image/introduce.jpg ) no-repeat

.main
    all-browser "flex-flow",       row wrap
    all-browser "justify-content", center

    padding: 0 147px

    margin: 25px 0

    font: 300 12px/1.8 -apple-system, PingFang SC, Verdana, Helvetica Neue, Microsoft Yahei, Hiragino Sans GB, Microsoft Sans Serif, WenQuanYi Micro Hei, sans-serif

    .feature
        all-browser "flex-flow",  column nowrap

        min-width: 191px

        padding: 25px
        margin:  30px

        background-color: #eff0f2
        all-browser "border-radius", 10px

        box-shadow: 0 2px 5px rgba(0,0,0,.05);
        transition: all 0.3s linear;

        &:hover
            margin-top: 10px;
            box-shadow: 0 5px 30px rgba(0,0,0,.2);

        //&.active
        //    margin-top: 10px;
        //    box-shadow: none;

        div
            padding-bottom: 6px

        .hide
            opacity: 0.1;
            transform: scale(0.85);

        .icon
            width: 128px
            height: @width
            transition: all 0.2s;

        .desc
            font-size: 20px
            color: #B3B3B3
            transition: all 0.2s;

        .learnmore
            color: #fff
            background-color: #1dba90
            all-browser "border-radius", 3px

            padding: 8px 20px

            font-size: 14px
            font-weight: bold
            text-decoration: none
            line-height: 19px

            transition: all 0.2s;
            cursor: pointer;

        &[data-type=origins] .icon
            background: url( ../image/multi-language.png ) no-repeat

        &[data-type=positionmode] .icon
            background: url( ../image/time.png ) no-repeat

        &[data-type=earth] .icon
            background: url( ../image/earth.png ) no-repeat

        &[data-type=unsplash] .icon
            background: url( ../image/unsplash.png ) no-repeat

        &[data-type=bgmanage] .icon
            background: url( ../image/subscribe.png ) no-repeat

        &[data-type=bookmarks] .icon
            background: url( ../image/bookmarks.png ) no-repeat

        &[data-type=topsites] .icon
            background: url( ../image/topsites.png ) no-repeat

        &[data-type=controlbar] .icon
            background: url( ../image/setting.png ) no-repeat

        &[data-type=shortcuts] .icon
            background: url( ../image/shortcuts.png ) no-repeat

        &[data-type=noise] .icon
            background: url( ../image/noise.png ) no-repeat

        &[data-type=zenmode] .icon
            background: url( ../image/zenmode.png ) no-repeat

        &[data-type=options] .icon
            background: url( ../image/options.png ) no-repeat

        .more
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;

            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;

            padding: 10px;

            color: #000;

            font-size: 13px;
            text-align: center;

            transition: all 0.2s;
            opacity: 0;
            transform: scale(0.95);

            &.active
                opacity: 1;
                transform: scale(1);

            ul
                margin-top: 0;
                text-align: left;

            .title
                font-size: 15px;
                font-weight: 400;

            .details
                width: 100%;

.middle
    margin-bottom 25px
    padding 0 147px

    all-browser "flex-flow", row wrap

    a
        adapter-display( flex )
        all-browser "flex-flow", row nowrap
        all-browser "justify-content", center
        all-browser "align-items", center

        width 210px

        all-browser "border-radius", 5px

        padding 8px 30px
        margin 0 60px 30px 60px

        color #fff
        background-color #7C4DFF
        font-size 21px
        text-decoration none
        font-weight bold
        line-height 1.5

        border 1px solid transparent
        transition all .2s ease-in-out

        &:hover
            background-color transparent
            border 1px solid #7C4DFF
            color #7C4DFF

        div
            padding-left 5px

        span
            width 32px
            height @width

.footer
    all-browser "flex-flow", column nowrap

    background-color: #333
    color: #fff

    font: 300 12px/1.8 -apple-system, PingFang SC, Verdana, Helvetica Neue, Microsoft Yahei, Hiragino Sans GB, Microsoft Sans Serif, WenQuanYi Micro Hei, sans-serif
    font-weight: normal

    width: 100%

    .copyright
        all-browser "flex-flow",       row wrap
        all-browser "justify-content", center

        padding: 0 0 10px 0

    a
        color: #fff
        text-decoration: none
        font-weight: bold

        &:hover
            color: #000
            background-color  : rgba(255,255,255,1)
            all-browser "transition", background-color 1s ease
            all-browser "border-radius", 3px

    p
        margin: 0

    // first child
    ul
        adapter-display( flex )
        all-browser "flex-flow",       row wrap
        all-browser "justify-content", center

        list-style: none

        padding: 0

        li
            adapter-display( flex )
            all-browser "flex-flow",       column wrap
            all-browser "align-items", center

            width: ( 960px / 2 )
            padding: 5px

            div
                all-browser "flex-flow",   column nowrap
                all-browser "align-items", flex-start

            // support
            &:nth-child(1) div
                    all-browser "align-items", flex-start

                    // share
                    nav
                        adapter-display( flex )
                        all-browser "flex-flow",   row nowrap
                        all-browser "justify-content", flex-start

                        margin-top: 4px

                        a
                            adapter-display( flex )
                            padding: 0 7px 0 0

                            background: #000
                            background: rgba(0, 0, 0, 0)

                            span
                                display: block

                                width : 24px
                                height: @width

                                opacity: 0.2

                                &:hover
                                  opacity: 1
                                  all-browser: "transition", opacity 1s ease

                            .weibo-share-icon
                                background: url( ../image/weibo-share-icon.png ) no-repeat

                            .twitter-share-icon
                                background: url( ../image/twitter-share-icon.png ) no-repeat

                            .facebook-share-icon
                                background: url( ../image/facebook-share-icon.png ) no-repeat

                            .gplus-share-icon
                                background: url( ../image/gplus-share-icon.png ) no-repeat

            // author
            &:nth-child(2) div
                all-browser "align-items", flex-start

                .photo
                    display: block

                    margin-right: 10px;

                    width : 46px
                    height: @width

                    all-browser "border-radius", 50%

                    background: url( ../image/photo.jpg ) no-repeat

                div
                    all-browser "flex-flow",       row nowrap
                    all-browser "justify-content", flex-start
                    all-browser "align-items",     center

                    div
                        all-browser "flex-flow",   column nowrap
                        all-browser "align-items", flex-start

                        padding: 0 5px

                        nav
                            adapter-display( flex )

                            margin-top: 4px

                            a
                                adapter-display( flex )
                                all-browser "flex-flow", row, nowrap

                                padding: 0 7px 0 0

                                background: #000
                                background: rgba( 0, 0, 0, 0 )

                            span[class$="-icon"]
                                /*adapter-display( inline-box )*/

                                width : 24px
                                height: @width

                                opacity: 0.2

                                &:hover
                                    all-browser "transition", opacity .3s ease
                                    opacity: 1

                            .weibo-icon
                                background: url( ../image/weibo-icon.png ) no-repeat

                            .douban-icon
                                background: url( ../image/douban-icon.png ) no-repeat

                            .gplus-icon
                                background: url( ../image/gplus-icon.png ) no-repeat

                            .linkin-icon
                                background: url( ../image/linkin-icon.png ) no-repeat

                            span[class^="weibo"]:hover
                                background: url( ../image/weibo-hover-icon.png ) no-repeat

                            span[class^="douban"]:hover
                                background: url( ../image/douban-hover-icon.png ) no-repeat

                            span[class^="gplus"]:hover
                                background: url( ../image/gplus-hover-icon.png ) no-repeat

                            span[class^="linkin"]:hover
                                background: url( ../image/linkin-hover-icon.png ) no-repeat



@media (max-width: 1391px)
    .describe
        .banner
            zoom: 0.8
        .title
            zoom: 0.9
        .download
            zoom: 0.9

@media (max-width: 1024px)
    .middle
        zoom 0.9

@media (max-width: 945px)
    .middle
        zoom 0.8
    .footer ul li
        width: initial

@media (max-width: 840px)
    .middle
        zoom 0.7

@media (max-width: 735px)
    .middle
        zoom 0.6

@media (max-width: 718px)
    .describe
        all-browser "flex-flow", column nowrap
        .banner
            zoom: 0.5
        .title
            zoom: 0.6
        .download
            zoom: 0.5

    .main
        zoom: 0.6

@media (max-width: 640px)
    .main
        zoom: 0.5

@media (max-width: 480px)
    .describe
        .title
            zoom: 0.5
        .banner
            zoom: 0.3
    .main
        zoom: 0.4
    .footer
        zoom: 0.6

@media (max-width: 414px)
    .main
        zoom: 0.3
    .footer
        zoom: 0.6
    .middle a div
        width: 300px

@media (max-width: 360px)
    .middle a div
        width: 280px

@media (max-width: 375px)
    .middle a div
        width: 290px

@media (max-width: 320px)
    .describe .title
        zoom: 0.4
    .main
        zoom: 0.3
    .middle a div
        width: 250px

@media (max-width: 979px)
    .footer ul li div
        all-browser "flex-flow",   column nowrap
        all-browser "align-items", center
