body {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: transparent;
	background-size: cover;
	background-position: center center;
	background-attachment: fixed;
	margin: 0px;
    padding: 0px;
}

body div {
	position: absolute;
}

.bottom {
	width: 150px;
	height: 70px;
	right: 0px;
	bottom:0px;
	padding:10px;
}

#time {
	color: #fff;
	font-size: 60px;
	font-weight: 200;
}